spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 307804419617-5rh8u58lk6tm0rtflc70v3m5pep0u5c7.apps.googleusercontent.com
            client-secret: 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
            scope: profile, email
          naver:
            client-id: Eu_a74GzGFLzLgRJ3vBx
            client-secret: FbGCMs93UG
            redirect-uri: '{baseUrl}/{action}/oauth2/code/{registrationId}'
            authorization_grant_type: authorization_code
            scope: name,email,profile_image
            client-name: Naver
        provider:
          naver:
            authorization_uri: https://nid.naver.com/oauth2.0/authorize
            token_uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user_name_attribute: response