{{>layout/header}}

<h1>게시글 등록</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            {{#title}}
            <div class="form-group">
                <label for="title">제목 : {{title}}</label>
                <input type="hidden" id="movieId" value="{{id}}"> {{! label 연결 }}
            </div>
            <div class="form-group">
                <label for="author"> 작성자 </label>
                <input type="text" class="form-control" id="author" placeholder="작성자를 입력하세요">
            </div>
            <div class="form-group">
                <label for="reviewContents"> 리뷰 내용 </label>
                <textarea class="form-control" id="reviewContents" placeholder="내용을 입력하세요"></textarea>
            </div>
            <div class="form-group">
                <label for="score"> 평점 </label>
                <textarea class="form-control" id="score" placeholder="점수를 입력하세요"></textarea>
            </div>
            {{/title}}
        </form>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-save">등록</button>
    </div>
</div>

{{>layout/footer}}